<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ane.basic.dao.ProvincesDao" >
  <resultMap id="BaseResultMap" type="com.ane.basic.domain.Provinces" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="provinceid" property="provinceid" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, provinceid, province
  </sql>
  <select id="listAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from provinces
    where province!='全国'
  </select>
  
  <select id="getProvinceName" resultType="java.lang.String" parameterType="java.lang.String">
  	select province from provinces where provinceid = #{provinceid}
  </select>
</mapper>